<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <button backButton mat-icon-button="back">Back</button>
        <mat-card>
            <mat-card-content>
                <h2>Document Create</h2>
                <input type="file" accept="application/json" (change)="onFileSelected($event)">
                <button [disabled]="!file" type="button" (click)="upload()">Upload</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>